BODY {
	SCROLLBAR-FACE-COLOR: #799ae1; BACKGROUND: #cad7f7; FONT: 12px/18px Verdana; SCROLLBAR-HIGHLIGHT-COLOR: #799ae1; TEXT-TRANSFORM: none; SCROLLBAR-SHADOW-COLOR: #799ae1; COLOR: #000000; SCROLLBAR-3DLIGHT-COLOR: #799ae1; SCROLLBAR-ARROW-COLOR: #ffffff; SCROLLBAR-TRACK-COLOR: #aabfec; SCROLLBAR-DARKSHADOW-COLOR: #799ae1; TEXT-DECORATION: none
}
FONT.alert {
	COLOR: #ff0000
}
FONT.blue {
	COLOR: #0000ff
}
.tableBorder {
	BORDER-RIGHT: #000000 1px solid; BORDER-TOP: #000000 1px solid; BORDER-LEFT: #000000 1px solid; BORDER-BOTTOM: #000000 1px solid; BACKGROUND-COLOR: #ffffff
}
TD.title {
	FONT-WEIGHT: bold; FONT-SIZE: 12px; BORDER-LEFT-COLOR: #ffffff; BACKGROUND-IMAGE: url(images/manage/admin_bg_1.gif); BORDER-BOTTOM-COLOR: #ffffff; COLOR: #ffffff; BORDER-TOP-COLOR: #ffffff; FONT-STYLE: normal; HEIGHT: 25px; TEXT-ALIGN: center; BORDER-RIGHT-COLOR: #ffffff
}
TD.title2 {
	BORDER-LEFT-COLOR: #ffffff; BACKGROUND-IMAGE: url(images/manage/admin_bg_2.gif); BORDER-BOTTOM-COLOR: #ffffff; BORDER-TOP-COLOR: #ffffff; LINE-HEIGHT: 18px; BORDER-RIGHT-COLOR: #ffffff
}
TD.items {
	BORDER-LEFT-COLOR: #ffffff; BACKGROUND-IMAGE: url(images/manage/admin_top_bg.gif); BORDER-BOTTOM-COLOR: #ffffff; BORDER-TOP-COLOR: #ffffff; LINE-HEIGHT: 16px; BORDER-RIGHT-COLOR: #ffffff
}
TD.title3 {
	BORDER-LEFT-COLOR: #ffffff; BORDER-BOTTOM-COLOR: #ffffff; BORDER-TOP-COLOR: #ffffff; LINE-HEIGHT: 16px; BACKGROUND-COLOR: #e4edf9; BORDER-RIGHT-COLOR: #ffffff
}
TD.table {
	BORDER-LEFT-COLOR: #ffffff; BORDER-BOTTOM-COLOR: #ffffff; BORDER-TOP-COLOR: #ffffff; LINE-HEIGHT: 16px; BACKGROUND-COLOR: #f1f3f5; BORDER-RIGHT-COLOR: #ffffff
}
TD.toptable {
	BACKGROUND-IMAGE: url(images/manage/admin_bg_3.gif); LINE-HEIGHT: 20px; HEIGHT: 22px
}
TR {
	FONT-SIZE: 12px; BORDER-LEFT-COLOR: #ffffff; BORDER-BOTTOM-COLOR: #ffffff; COLOR: #000000; BORDER-TOP-COLOR: #ffffff; LINE-HEIGHT: 18px; BORDER-RIGHT-COLOR: #ffffff
}
.copyright {
	PADDING-RIGHT: 1px; BORDER-TOP: #6595d6 1px dashed; PADDING-LEFT: 1px; PADDING-BOTTOM: 1px; FONT: 11px verdana,arial,helvetica,sans-serif; COLOR: #4455aa; PADDING-TOP: 1px; TEXT-DECORATION: none
}
TD {
	FONT-SIZE: 12px
}
INPUT {
	BORDER-TOP-WIDTH: 1px; BORDER-LEFT-WIDTH: 1px; FONT-SIZE: 12px; BORDER-BOTTOM-WIDTH: 1px; BORDER-RIGHT-WIDTH: 1px
}
TEXTAREA {
	BORDER-TOP-WIDTH: 1px; BORDER-LEFT-WIDTH: 1px; FONT-SIZE: 12px; BORDER-BOTTOM-WIDTH: 1px; BORDER-RIGHT-WIDTH: 1px
}
SELECT {
	BORDER-TOP-WIDTH: 1px; BORDER-LEFT-WIDTH: 1px; FONT-SIZE: 12px; BORDER-BOTTOM-WIDTH: 1px; BORDER-RIGHT-WIDTH: 1px
}
SPAN {
	FONT-SIZE: 12px; POSITION: static
}
A:link {
	COLOR: #000000; TEXT-DECORATION: none
}
A:visited {
	COLOR: #000000; TEXT-DECORATION: none
}
A:hover {
	COLOR: #428eff; TEXT-DECORATION: underline
}
.login_lostfocus {
	BORDER-RIGHT: #333333 1px dashed; BORDER-TOP: #333333 1px dashed; FONT-SIZE: 12px; FILTER: progid:DXImageTransform.Microsoft.Alpha(opacity=50); BORDER-LEFT: #333333 1px dashed; BORDER-BOTTOM: #333333 1px dashed; FONT-FAMILY: Arial; BACKGROUND-COLOR: #ffffff
}
.lostfocus {
	BORDER-RIGHT: #000000 1px solid; BORDER-TOP: #000000 1px solid; FONT-SIZE: 12px; BORDER-LEFT: #000000 1px solid; BORDER-BOTTOM: #000000 1px solid; FONT-FAMILY: Arial; BACKGROUND-COLOR: #ffffff
}
.getfocus {
	BORDER-RIGHT: #08246b 1px solid; BORDER-TOP: #08246b 1px solid; FONT-SIZE: 12px; BACKGROUND-IMAGE: url(images/manage/input.gif); BORDER-LEFT: #08246b 1px solid; BORDER-BOTTOM: #08246b 1px solid; FONT-FAMILY: Arial; BACKGROUND-COLOR: #ffffff
}
